<div class="col-10 offset-1 about">
  <h1>About</h1>
  <p>Splurty: a <a target="_blank" href="https://www.thefirehoseproject.com">Firehose</a> jam by <a target="_blank" href="https://github.com/dreshfield">@dreshfield</a>.</p>

  <br />
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'david.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">David Dreshfield</h2>
      <br />
      <p>David Dreshfield is an aspiring web developer with 3 years' experience in operational roles at cutting-edge e-commerce and customer service startups.</p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>