<h2>
  <span>Splurty / No. <%= @quote.id %></span>
  Someone smarter than me once said...
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">— <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />