@import "bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #F84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  -webkit-transform: rotate(11deg);
}

.clear {
  clear: both;
}

.footer-blurb {
  font-family: 'datalegreyathin', sans-serif;
  font-style: italic;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.footer-blurb a {
  color: black;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #ADADAD;
  font-family: 'datalegreyathin', sans-serif;
  font-weight: bold;
}

.logo:hover {
  text-decoration: none;
}

.next-quote {
  color: #F84342;
  font-family: 'datalegreyathin', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 26px;
}

h1 {
  font-family: 'datalegreyagradient', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'datalegreyathin', sans-serif;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear: both;
}